  <%= render 'shared/navbar' %>


    <%= form_tag stores_path, method: :get, data: {autocomplete_stores: @autocomplete_stores.to_json}, id: "autocomplete-form", autocomplete: "off", class: "navbar" do  %>
      <%= text_field_tag :query,
        params[:query], id: "autoComplete",
        class: "search-input",
        placeholder: "Search for shops in your area"
      %>
    <% end %>


    <%# <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Storefinder</span>
        <input type="search" id="store-search" placeholder="Look for a store in ..." />
    </div> %>
<div class="container">
    <div class="secondary-title title-card-find title-text-color">
      <h2><b>Shops</b> near you</h2>
    </div>

<!--     <div id="geocoder"></div>
    <pre id="result"></pre> -->

<!--     <div class="title-check-in-now">
      <h2>Check in now!</h2>
    </div> -->

    <div class=" store-card-container scroll-touch ">
      <% @stores.each do |store| %>
        <% if store.distance_from_user.present? && store.distance_from_user < 1 %>
          <% @rounded_distance = "#{(store.distance_from_user*1000).round(0)} m"  %>
        <% elsif store.distance_from_user.present? && store.distance_from_user >= 1 %>
          <% @rounded_distance = "#{store.distance_from_user.round(1)} km" %>
        <% end %>

      <div class=" store-card-main">
        <div class="row">
          <div class="col-9 store-card-text">
             <p class="store-title-card"><%= store.name.upcase %></p><a class="info-icon" href="/stores/<%=store.id%>"><i class="fas fa-info-circle"></i></a>
              <p class="store-address-card"><%= store.address %></p>
              <% if store.distance_from_user.present? %>
               <p class="store-distance-card"><%= @rounded_distance %> away</p>
              <% else %>
                <p class="store-distance-card"></p>
              <% end %>
          </div>
          <div class="col-3 checkin">
            <%# image_tag "checkin.png", alt: "check-in", width: 60 %>
            <%= simple_form_for [store, @order] do |f| %>
              <%= f.submit " ", class:"info-icon test" %>
            <% end %>
          </div>
        </div>
      </div>
<!--       <div id="map" class="store-card-map"></div>
 -->  <% end%>

    </div>
  </div>
  <%= render 'shared/footer' %>
  </div>

