<%= form_tag stores_path, method: :get, data: {autocomplete_stores: @autocomplete_stores.to_json}, id: "autocomplete-form", class: "navbar" do  %>
  <%= text_field_tag :query,
    params[:query], id: "autoComplete",
    class: "search-input",
    placeholder: "Search for shops in your area"
  %>
<% end %>

<h2 class="stores-search-title"> Shops near you </h2>

<div class="container">
  <% @stores.each do |store| %>
      <% if store.distance_from_user.present? && store.distance_from_user < 1 %>
        <% @rounded_distance = "#{(store.distance_from_user*1000).round(0)} m"  %>
      <% elsif store.distance_from_user.present? && store.distance_from_user >= 1 %>
        <% @rounded_distance = "#{store.distance_from_user.round(1)} km" %>
      <% end %>

      <%= link_to store_path(store) do  %>
          <div class="store-card">
            <%= cl_image_tag(store.logo) %>
              <div class="store-card-content">
                <div class="store-card-head">
                  <p class="store-title"><%= store.name.upcase %></p>
                  <a class="info-icon" href="/stores/<%=store.id%>"></i></a>
                </div>
                <p class="store-address"><%= store.address %></p>
                <% if store.distance_from_user.present? %>
                  <div class="store-location">
                    <i class="uil uil-location-point"> </i>
                    <p class="store-distance"><%= @rounded_distance %> away</p>
                  </div>
                <% else %>
                  <p class="store-distance"></p>
                <% end %>
              </div>
          </div>
        <% end %>
  <% end%>
</div>
<%= render 'shared/footer' %>

