<div class="store-show-container">
  <%= render 'shared/navbar' %>
  <div class="store-grey-background">
    <div class="store-show-card">
      <div class="store-show-image">

      </div>
      <div class="store-show-info">
        <div class="store-show-title">
          <%= @store.name %>
        </div>
        <div class="store-show-content">
          <%= @store.address %><br>
          <%= @store.opening_hours %>
        </div>
        <div class="store-show-btn">

          <%= simple_form_for [@store, @order] do |f| %>
            <%= f.submit "Check In", class: 'btn-SignUp' %>
          <% end %>
          <%#button class="btn-SignUp"><%= link_to "Check In", pages_path, class:"btn-SignUp"%>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
