<div class="stores-checkin">
  <div class="store-show-image">
    <i class="uil uil-angle-left-b"></i>
  </div>
  <div class="store-info container">
    <div class="store-info-header">
      <h2><%= @store.name.upcase %></h2>
      <div class="store-icon">
        <i class="uil uil-store"></i>
      </div>
    </div>
    <div class="store-details">
      <%= @store.address %><br>
      <p> Open today <strong> <%= @store.opening_hours %> </strong>
    </div>
  </div>
  <div class="store-show-btn container">
    <%= simple_form_for [@store, @order] do |f| %>
      <%= f.submit "Check In", class: 'main-button btn-block' %>
    <% end %>
    <%#button class="btn-SignUp"><%= link_to "Check In", pages_path, class:"btn-SignUp"%>
  </div>
  <%= render 'shared/footer' %>
</div>
