<div class="home-main-container container">
  <div class="form-container-home">
    <div class="home-text-container">
      <h1>Welcome to</h1>
      <%= image_tag "sbianca.png", class:"logo" %>
      <%= image_tag "scritta.png", class:"logo" %>
    </div>
    <%#    <%= cl_image_tag "logo2_sq9rsw", alt: "ScanAndGo", width: 200, class: "logo" %>
    <div class="inputs-card">
      <%= render 'shared/login', resource: User.new, resource_name: :user %>
       <div class="striked-text">
       <%= link_to('Reset Password', new_user_registration_path, class: "option-right") %>
       </div>
      <%= link_to('Sign Up', new_user_registration_path, class: "sign-up-text") %>
    </div>
  </div>
</div>
<%# <div class="color-card-style"></div>
