
<div class="order-index-container">
  <div class="order-navbar-container container">
    <i class="uil uil-angle-left-b"></i>
    <h2>Your <span>basket</span></h2>
    <i class="uil uil-angle-left-b uil--hidden"></i>
  </div>
    <div class="line-basket"></div>
    <div>
      <%= render "shared/order_items" %>
    </div>
    <div class="payment sticky">
      <div class="total-price">
        <h2>
          Total price:
        </h2>
        <h3>
          € <%= @total_price %>
        </h3>
      </div>

      <%= link_to 'Confirm payment', order_path(@last_order), class:"main-button pay-button" %>
      <div class="continue-shopping">
        <%= link_to "Continue Shopping", new_qr_code_path  %>
      </div>
    </div>
  <%= render 'shared/footer' %>
</div>

