<div class="order-index-container">
  <div class="order-navbar-container container">
    <i class="uil uil-angle-left-b"></i>
    <h2>Your basket</h2>
  </div>
    <div class="line-basket"></div>
    <div>
      <%= render "shared/order_items" %>
    </div>
    <div class="payment sticky">
      <div class="total-price">
        <h2>
          Total price:
          <h3>
          EUR <%= @total_price %>
          </h3>
        </h2>
      </div>

      <%= link_to 'Confirm payment', order_path(@last_order), class:"main-button-yellow pay-button" %>
      <div class="continue-shopping">
        <%= link_to "Continue Shopping", pages_path  %>
      </div>
    </div>
  <%= render 'shared/footer' %>
</div>

