<div class="order-index-container">
    <div class="secondary-title title-card-find title-text-color">
      <h2>My Shopping Cart</h2>
    </div>
    <div>
      <%= render "shared/order_items" %>
    </div>
    <div class="payment sticky">
      <div class="total-price">
        <h2>
          Total price:
          <h3>
          EUR <%= @total_price %>
          </h3>
        </h2>
      </div>

      <%= link_to 'Confirm payment', order_path(@last_order), class:"btn-SignUp btn-block btn-pay" %>
      <div class="continue-shopping">
        <%= link_to "Continue Shopping", pages_path  %>
      </div>
    </div>
  <%= render 'shared/footer' %>
</div>

