<!DOCTYPE html>
<html>
  <head>
    <title>Scanandgo603LwLol</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <%# gecoding content - start%>
    <meta charset="utf-8">
    <%#<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">%>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.4.0/mapbox-gl.js"></script>

  </head>
  <body>
<!--        <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p> -->
    <%= yield %>
  </body>
</html>
